body{
    background-color:#121a26;
    color:white;
}

h1{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}
img{
    width: 300px;
    height:400px;
    margin-top: 15px;
   
}
.father{
    text-align: center;
    align-items: center;
}
[data-src]{
    min-width: 50px;
    min-height: 50px;
}

img[data-src]{
    filter: blur(.5em);
}

img{
    filter: blur(0em);
    transition: filter 0.5s;
}