body{
    background-color:#121a26;
    color:white;
}

h1{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}
img{
    width: 300px;
    height:400px;
    margin-top: 15px;
}
.father{
    text-align: center;
    align-items: center;
}